* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* Header */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 33);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: wheat;
    font-size: 1.04rem;
}

.left {
    font-size: 1.5rem;
}

/* Main */
main hr {
    border: 0;
    height: 2px;
    background: rgb(107 77 136);
    margin: 40px 80px;
}

/* firstSection */
.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 130px 0;
    align-items: center;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 3rem;
}

.rightSection img {
    width: 80%;
}

.purple {
    color: rgb(151, 76, 221);
}

#element {
    color: rgb(151, 76, 221);
}

/* secondSection */
.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 100vh;
}

.secondSection h1 {
    font-size: 2rem;
}

.text-gray {
    color: gray;
}

.box {
    background-color: white;
    width: 75vw;
    height: 2px;
    margin: 70px 0;
    display: flex;
}

.vertical {
    background: white;
    width: 1px;
    height: 100px;
    margin: 0 140px;
}

.top-image {
    width: 2rem;
    position: relative;
    top: -40px;
    left: -15px;
}

.experience-title {
    position: relative;
    font-size: medium;
    font-weight: bold;
    top: 65px;
    width: 9rem;
}

.experience-description {
    position: relative;
    font-size: 10px;
    top: 65px;
    width: 9rem;
    color: gray;
}

/* Footer */
footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: #101828;
}

.about {
    position: relative;
    top: 56px;
}

.about ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 105px;
}

.about ul li{
    list-style: none;
}

.about ul li a{
    text-decoration: none;
    color: gray;
    font-size: 20px;
}

.about ul li a:hover{
    color: wheat;
    font-size: 21px;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-basis: 100%;
}

.fb-logo {
    width: 2.5rem;
}

.ig-logo {
    width: 1.8rem;
}

.x-logo {
    width: 1.8rem;
}

.git-logo {
    width: 3rem;
}

.copywrite {
    color: gray;
    position: relative;
    top: -65px;
}